<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BGTaskSchedulerPermittedIdentifiers</key>
		<array>
			<string>co.J-food.perfect</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>J-food</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>J-food</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>MKDirectionsApplicationSupportedModes</key>
		<array/>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>This app needs access to your location to show your position on the map even when the app is in the background.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>This app needs access to your location to show your position on the map while you are using the app.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>This app needs access to your location to show your position on the map both when the app is in use and in the background.</string>
		<key>io.flutter.embedded_views_preview</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>processing</string>
			<string>remote-notification</string>
		</array>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<false/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>j-food-2a4d7.web.app</string>
				</array>
			</dict>
		</array>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>whatsapp</string>
			<string>fbapi</string>
			<string>fb-messenger-api</string>
			<string>fbauth2</string>
			<string>fbshareextension</string>
			<string>https</string>
		</array>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>This app needs access to your location to provide personalized recommendations and offers based on your location.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>This app needs access to your location to show your position on the map and provide location-based services while you are using the app.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>This app needs access to your location to provide personalized recommendations and location-based services</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app needs access to your photo library to allow you to upload and share images of your meals.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>This app requires access to the microphone to enable voice recording features.</string>
		<key>aps-environment</key>
		<string>development</string>
		<key>co.J-food.perfect.associated-domains</key>
		<array>
			<string>applinks:j-food-2a4d7.web.app</string>
		</array>
		<key>NSDocumentsUsageDescription</key>
		<string>App requires access to the documents directory.</string>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
